<!-- Upper Nav Section -->
<div class="navChild center navTitleContainer">

  <!-- Nav Title Section -->
  <div class="navTitleSection">
    <h1 class="navTitle">UNTURNED <strong>STONES</strong></h1>
    <p class="navDesc font-code nav_color">Morality at the flick of a switch</p>
  </div>

  <!-- Nav Tabs -->
  <div class="navTabs">
    <div class="navTab">
      <div class="navTabCircle nav_home" id="nav_home" onclick="navClick('home')"></div>
    </div>
    <div class="navTab">
      <div class="navTabCircle nav_chronicle" id="nav_chronicle" onclick="navClick('chronicle')"></div>
    </div>
    <div class="navTab">
      <div class="navTabCircle nav_codex" id="nav_codex" onclick="navClick('codex')"></div>
    </div>
    <div class="navTab">
      <div class="navTabCircle nav_terminal" id="nav_terminal" onclick="navClick('terminal')"></div>
    </div>
    <div class="navTab">
      <div class="navTabCircle nav_about" id="nav_about" onclick="navClick('about')"></div>
    </div>
  </div>

  <!-- Nav Seperator Bar Line -->
  <div class="navSectionBarContainer">
    <div class="navSectionBarLine nav_color_bg"></div>
    <div class="navSectionBarText nav_color" id="nav_sectionTitle">HOME</div>
    <div class="navSectionBarLine nav_color_bg"></div>
  </div>

  <!-- Nav Description -->
  <div class="navSectionDescriptionContainer">
    <p id="nav_sectionDescription">Description here.</p>
  </div>

  <!--<div class="navBackButton" id="navBackButton">
    <p class="font-code nav_color"><< BACK</p>
  </div>-->

</div>

<!-- Nav Main Section -->
<div class="navChild navScrollable utsScrollBar" id="navScrollable">
  No navigation items!
</div>

<!-- Nav Terminal Section -->
<div class="navChild navTerminal font-code" id='navTerminal'>
  <div class="utsTerminal navTerminalChild utsScrollBar">
    
  </div>
</div>